html{
    margin: 1%;
    background-color: #eeeeee;
}

body{
    padding: 10px;
    background-color: #ffeeff;
    height: 100%;
}
.truc{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

main {
    padding-left: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.pitiCarte{
    border: 1px solid;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
    width: 7em;

    margin: 10px;
    background-color: #dddddd;
    padding: 5px;
}

.caracteristique {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
}

.boutons{
    background-color: aqua;
    width: 50%;
    height: 100%;
}

.boutons input{
    width: 33%;
    height: 60%;
}


